html {
    background-color: #f9f9f9;
}

h1 {
    margin: 90px 0;
    -webkit-text-stroke: 0.5px #4e5055;
    color: #4e5055;
    font-size: 50px;
}

#formLogin,
#formRegister {
    background-color: #e0e0e0;
    max-width: 450px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    padding: 30px 30px;
    transition-duration: .2s;
}
#formLogin:hover
#formRegister:hover{
    box-shadow : 0px 0px 0px 4px #8d8d8d;
    transition-duration: .2s;
}

#formRegister {
    display: none;
}

#formLogin > input,
#formRegister > input {
    margin: 5px 0;
    padding: 8px 10px;
    outline: none;
    box-shadow : 0px 0px 0px 1px #8d8d8d;
    border:none;
    border-radius: 5px;
    transition-duration: .2s;
}
#formLogin > input:focus,
#formRegister > input:focus{
    box-shadow : 0px 0px 0px 4px #8d8d8d;
    transition-duration: .2s;
}

#formLogin > button,
#formRegister > button {
    margin: 5px 0;
    padding: 8px 10px;
    outline: none;
    box-shadow : 0px 0px 0px 1px #8d8d8d;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background: #383838;
    color: #F9F9F9;
    transition-duration: .2s;
}
#formLogin > button:hover,
#formRegister > button:hover{
    box-shadow : 0px 0px 0px 4px #8d8d8d;
    transition-duration: .2s;
    color:rgb(255, 255, 255);
} 


#formLogin > select,
#formRegister > select {
    border: rgb(141, 141, 141) solid 1px;
    border-radius: 5px;
    outline: none;
}

#register,
#login {
    cursor: pointer;
    color: #696969;
    margin: 20px 0 0 0;
    transition-duration: .2s;
}

#register:hover,
#login:hover{
    color:black;
    transition-duration: .2s;
} 
#promo {
    margin: 5px 0;
    padding: 8px 5px;
}
