@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Noto+Sans&display=swap");
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

*::selection {
  background: rgba(123, 168, 235, 0.8);
  border-radius: 5%;
}

html {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  color: #383838;
}

header {
  margin-bottom: 0;
}

#logout, #pp {
  transition-duration: 0.2s;
}
#logout:hover, #pp:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

#title:hover {
  color: #dadada;
}

#alertDivContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  transition-duration: 1s;
}

#alertDiv {
  background: #e74c3c;
  font-weight: bold;
  color: white;
  padding: 1rem;
  transition-duration: 1s;
}
#alertDiv i {
  margin: 0 2rem;
}
#alertDiv.hide {
  opacity: 0;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}
#alertDiv.show {
  opacity: 1;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}
#alertDiv.success {
  background: #41bb78;
}
#alertDiv.echec {
  background: #e74c3c;
}

#switchBtn {
  height: 2rem;
  margin-top: 1.5rem;
}

#flexbox, .flexbox, .reservationDiv {
  display: flex;
  flex-flow: row-wrap;
  margin: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #e0e0e0;
}

#reservationDiv {
  display: flex;
  flex-flow: row-wrap;
  font-size: 1.4rem;
}
#reservationDiv input, #reservationDiv select {
  margin: 0 1rem;
  border-radius: 0.5rem;
}

#dateText {
  font-weight: bold;
}

.button {
  background-color: #525252;
  color: white;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 0px 0.3rem transparent;
  width: 15%;
  transition-duration: 0.2s;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  border: none;
  font-size: 1rem;
}
.button:hover {
  background-color: #383838;
  transition-duration: 0.2s;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0.3rem #adadad;
}
.button:active {
  background: #1f1f1f;
  box-shadow: 0px 0px 0px 0.4rem #adadad;
  transition-duration: 0.1s;
}
.button i {
  padding: 0 0.5rem 0 0;
}

#container {
  display: flex;
  flex-flow: row-wrap;
  width: 100%;
}

#calendarContainer {
  margin: 1rem;
}

#mapContainer {
  margin: 1rem;
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 0.3rem;
}

#modalContainer {
  background-color: #e0e0e0;
  overflow: auto;
  height: 100vh;
  margin: 1rem 0.5rem;
  width: 30vw;
  border-radius: 0.3rem;
}

.salleList {
  background: #ececec;
  margin: 0.6rem 0.6rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}
.salleList .infos {
  display: flex;
  flex-flow: row-wrap;
}
.salleList .infos p {
  background: #f9f9f9;
  border-radius: 0.3rem;
  margin: 0.3rem;
  padding: 0.3rem;
  width: 50%;
}
.salleList .infos i {
  margin: 0 0.3rem;
}
.salleList h3 {
  border-radius: 1rem;
  border: 0.3rem solid #383838;
  margin: 0.3rem;
  background: #f9f9f9;
}
.salleList:hover {
  cursor: pointer;
}
.salleList:active.free, .salleList.selected.free {
  box-shadow: 0px 0px 0px 0.3rem black;
  transition-duration: 0.3s;
}
.salleList.free {
  background: #41bb78;
}
.salleList.free:hover {
  background: #349560;
}
.salleList.occupied {
  background: #e74c3c;
}
.salleList.occupied:hover {
  background: #d62c1a;
}
.salleList.occupied:active, .salleList.occupied.selected {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

map {
  z-index: 0;
}

area {
  z-index: 1;
}
area:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
