/////////////////////////////////////////////

$black: #383838;
$white: #f9f9f9;
$primary: rgb(65, 187, 120);
$blue: rgb(79, 139, 228);
$red: rgb(231, 76, 60);


/////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Noto+Sans&display=swap');

/////////////////////////////////////////////

%boxShadow {
    box-shadow: (1px 5px 5px 0px lighten($black, $amount: 50));
}

/////////////////////////////////////////////

*,
::before,
::after {
    box-sizing: border-box;
}
*::selection{
    background : transparentize(lighten($blue,10), 0.2);
    border-radius: 5%;
}

/////////////////////////////////////////////
html {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    background-color: $white;
    color: $black;
}
#flexbox{
    display:flex;
    flex-flow:row-wrap;
}

.button {
    background-color: lighten($black,10) ;
    color:white;
    border-radius:.3rem;
    box-shadow : 0px 0px 0px .3rem $white;
    width:15%;
    transition-duration: .2s;
    padding:.3rem .5rem;
    margin:.5rem;
    border:none;
    &:hover{
        background-color: $black;
        transition-duration: .2s;
        cursor:pointer;
        box-shadow : 0px 0px 0px .3rem darken($white,30);
    }
    &:active{
        background:darken($black,10);
    }
    & i {
        padding:0 .5rem;
    }
}

#container{
    display:flex;
    flex-flow: row-wrap;
    width:100%;
}
#mapContainer{
    margin:1rem;
    background-color: darken($white,10);
    padding:1rem;
    border-radius:.3rem;
}
#modalContainer{
    background-color: darken($white,10);
    overflow: auto;
    height:100vh;
    margin:1rem .5rem;
    width:30vw;
    border-radius:.3rem;
}

.salleList{
    background:darken($white,5);
    margin:.6rem .6rem;
    padding:.3rem;
    border-radius:.5rem;

    & .infos{
        display:flex;
        flex-flow:row-wrap;
        & p{
            background:$white;
            border-radius:.3rem;
            margin:.3rem;
            padding:.3rem;
            width:50%;
        }
        & i{
            margin:0 .3rem;
        }
    }
    & h3{
        border-radius:1rem;
        border:.3rem solid $black;
        margin:.3rem;
        background: $white;
    }

    &:hover{
        background:darken($white,30);
        cursor:pointer;
    }
    &:active, &.selected{
        background:$blue;
        box-shadow : 0px 0px 0px .3rem darken($white,30);
        transition-duration: .3s;
    }

}



  
  map {
    z-index: 0;
  }
  area{
    z-index: 1;
    &:hover{
        cursor:pointer;
    }
  }
  
  